<div align="center">
    <%= will_paginate %>
</div>
<% @users.each do |user| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="user-img">
                <%= link_to gravatar_for(user), user_path(user) %>
            </div>
            <div class="user-title">
                <%= link_to truncate(user.username, length: 15), user_path(user) %>
                
            </div>
            <hr>
            <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
            <%= link_to "Destroy User", user_path(user), method: :delete, data: { confirm: "Are you certain about doing this?" } %>

        </div>
    </div>
<% end %>
<div align="center">
    <%= will_paginate %>
</div>