[<%= link_to "New", new_portfolio_path %>]
<% @portfolios.each do |item| %>

    <h1><%= link_to item.title, show_portfolio_path(item) %> [<%= link_to "Edit", edit_portfolio_path(item) %>]</h1>
    <h2><%= item.subtitle %></h2>
    <p><%= item.body %></p>
    <%= image_tag item.thumb_image if item.thumb_image %>
    

<% end %>