<h2><%= @portfolio.title %></h2>
<h4><%= @portfolio.subtitle if @portfolio.subtitle %></h4>
<p><%= @portfolio.body %></p>
<%= image_tag @portfolio.main_image if @portfolio.main_image %><br />
<%= link_to "Back to All Portfolios", portfolios_path %><br />
<% @portfolio.technologies.each do |tech| %>
    <%= tech.name %>
<% end %>

<%= params.inspect %>
<%= session.inspect %>