
<h2 align="center"><%= @article.title %></h2>
<hr>
<div class="well col-xs-8 col-xs-offset-2">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="user-img">
                    <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
                </div>
                <div class="user-title">
                    <%= link_to truncate(@article.user.username, length: 15), user_path(@article.user) %>
                </div>
                <hr>
                <small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small>
            </div>
        </div>
    </div>
    <div class="center description">
        <%= simple_format(@article.description) %>
    </div>
    <% if logged_in? && current_user == @article.user %>
    <div class="article-actions">
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure!?"}, class: "btn btn-xs btn-danger" %>
        <%= link_to "Back to all Articles", articles_path, class: "btn btn-xs btn-success" %>
    </div>
    <% end %>
</div>

