<header>
    <h1>Den Normangiske Stamme</h1>
    <h3>The Normangian Tribe</h3>
    <hr>
    <nav>
        <h4><%= link_to "Hem", root_path %></h4>
        <h4><%= link_to "Om Oss", about_path %></h4>
        <h4><%= link_to "Nye", posts_path %></h4>
        <h4><%= link_to "[Users]", users_path %></h4>
        <h4><%= link_to "[Msgs]", msgs_path %></h4>
    </nav>
</header>