<header>
    <h1>Den Normangiske Stamme</h1>
    <h3>The Normangian Tribe</h3>
    <hr>
    <nav>
        <h4><%= link_to "Hem", root_path %></h4>
        <h4><%= link_to "Om Oss", about_path %></h4>
        <h4><%= link_to "Nøe", posts_path %></h4>
        <% if logged_in? %>
            <h4><%= link_to "Viser Stamme", users_path %></h4>
            <h4><%= link_to "Viser Poste", msgs_path %></h4>
        <% end %>
    </nav>
</header>